.root
  align-items center

.buttons
  margin-top 4u
  width 100%
  flex-direction row
  justify-content center

  +tablet()
    flex-direction row
    justify-content center

.blueButton
  background #8cc9f0
  padding 1u 2u
  border-radius 0.5u
  border 1px solid #e3e3e3
  margin 0 2u 0 0
  text-align center
  align-items center

.buttonText
  color #ffffff
  font-size 1.5u
  font-weight 200
