_gray = #dddddd
_darkGray = #636363

.root
  align-items center

.title
  font-size font(xxl)
  font-weight 200
  color _darkGray

.buttons
  margin-top 4u
  width 100%

.text
  font-size font(l)
  text-align center
  line-height 25px
  color _darkGray
  margin-bottom gutter(xl)

.blueButton
  background #8cc9f0
  padding 1.5u 3u
  border-radius 0.5u
  border 1px solid #e3e3e3
  margin-bottom 2u
  text-align center

.buttonText
  color #ffffff
  font-size 2u
  font-weight 200
