.root
  align-items center

.buttons
  margin-top 4u
  flex-direction row

  +tablet()
    flex-direction row
    justify-content center

.blueButton
  background #8cc9f0
  padding 1u 2u
  border-radius 0.5u
  border 1px solid #e3e3e3
  text-align center
  align-items center

  +tablet()
    padding 1.5u 3u

.lightButton
  margin-left 2u

.buttonText
  color #ffffff
  font-size 1.5u
  font-weight 200

  +tablet()
    font-size 2u

.textWrapper
  margin-top 2u
  max-width 71u
  +desktop()
    margin-top 4u
