_gray = #dddddd
_darkGray = #636363

.root
  align-items center

.titleWrapper
  align-items center

.content
  align-items center
  margin-top 2u

  +tablet()
    flex-direction row
    flex-wrap wrap
    justify-content center
    margin-top 4u

.section
  align-items center

  +tablet()
    max-width 38u
    margin 1u

.iconBorderWrapper
  padding 1u
  border 1px solid _gray
  border-radius 12u

.iconWrapper
  border-radius 12u
  border 1px solid _gray
  padding 4u

.itemTitle
  text-align center
  font-weight 200
  font-size 2.5u
  color _darkGray
  margin-top 3u

.itemText
  margin-top 2.5u

.image
  width 7.5u
  height 7.5u

.button
  margin-top 3u
