.root
  padding 1u 2u
  border-radius 0.5u
  border 1px solid #e3e3e3
  text-align center
  align-items center

  &-white
    border-color #fff

.text
  font-size 1.5u
  font-weight 200
  color #636363

  &-white
    color #fff
