// 1u is a 8px grid unit. 1u === 8px
_background = #373d49f9
_textColor = #fff

.root
  flex-direction row
  justify-content space-between
  width 100%
  height 52px
  background _background
  padding 0 gutter()

.leftMenu,
.rightMenu
  align-items center
  justify-content center

.redButtonText
  color _textColor
  font-weight 200
  font-size font(s)
