.root
  width 100%
  align-items center
  justify-content center
  padding 12u 3u

.title
  margin-top 4u

.image
  width 10u
  height 10u

.content
  align-items center

.text
  max-width 55u
  margin-top 3u
