_whiteColor = #fff
_whiteTransparentColor = #ffffffa6

.root
  height 330px
  width 100%
  align-items center
  justify-content center
  padding 0 gutter(xl)

.icon
  margin-bottom gutter(l)

.title
  color _whiteColor
  font-size 40px
  font-weight 100
  margin-bottom gutter(l)

.description
  text-align center
  color _whiteTransparentColor
  line-height 25px
