.root
  height 41u
  width 100%
  align-items center
  justify-content center
  padding 0 3u

  +from($tablet)
    height 55u

.icon
  margin-bottom 3u

.title
  margin-bottom 3u

.image
  width 10u
  height 10u

.content
  align-items center
