.root
  padding 5u

.left
  margin-bottom 5u

.icons
  flex-direction row
  margin-top 5u

.iconWrapper
  padding 1u
  border 1px solid #ffffff59
  border-radius 4u
  margin-right 2u

.rightTitle
  margin-bottom 2u

.icon
  width 2u
  height 2u

.row
  flex-direction row
  margin 1u 0

.label
  width 25%
