.root
  padding 7u 2u

  +tablet()
    padding 7u 4u

  +desktop()
    padding 7u 11u

.blocks
  +desktop()
    flex-direction row

.left
  +desktop()
    max-width 47%

.right
  margin-top 5u

  +desktop()
    margin-left 6%
    flex-grow 1
    margin-top 0

.icons
  flex-direction row
  margin-top 5u

.iconWrapper
  padding 1u
  border 1px solid #ffffff59
  border-radius 4u
  margin-left 2u

  &-first
    margin-left 0

.icon
  width 3u
  height 3u

.row
  flex-direction row
  margin 2u 0 0 0

  &-first
    margin-top 2u

.label
  width 25%
  max-width 15u

.value
  max-width 70%

.buttonWrapper
  margin-top 4u

.credits
  margin-top 4u

  +desktop()
    align-items center
    margin-top 6u
