_gray = #dddddd
_white = #ffffff

.root
  align-items center

.titleWrapper
  align-items center

.sections
  border-radius 1u
  overflow hidden
  align-items center

  +tablet()
    flex-direction row
    align-items stretch

.section
  width 100%
  max-width 38u
  overflow hidden

  &-first
    border-radius 1u 1u 0 0

  &-last
    border-radius 0 0 1u 1u

  +tablet()
    width 20%
    min-width 20%

    &-first
      border-radius 1u 0 0 1u

    &-last
      border-radius 0 1u 1u 0

.content
  margin-top 4u
  width 100%

.iconBorderWrapper
  width 100%
  padding 3u 0
  align-items center

.iconWrapper
  width 100%
  align-items center

.image
  width 7u
  height 7u

.iconCount
  color _white
  font-size 4u
  font-weight 200

.iconContent
  align-items center
  margin 2u 0 0 0

.textItems
  margin-top 4u
  +tablet()
    flex-direction row

.textWrapper
  margin-top 2u
  +desktop()
    margin-top 4u

.dividerWrapper
  +desktop()
    margin-top 2u

.button
  margin-top 4u
