_gray = #dddddd
_darkGray = #636363

.root
  align-items center

.content
  align-items center
  margin-top gutter(xl)

.imageWrapper
  border-radius 100px
  padding gutter(s)
  border 1px solid _gray

.image
  width 24u
  height 24u
  border-radius 12u

.title
  font-size font(xxl)
  color _darkGray

.text
  font-size font(l)
  text-align center
  line-height 3u
  color _darkGray
  margin-bottom gutter(xl)
