_gray = #dddddd
_darkGray = #636363
_fontWeight = 200

.root
  align-items center

.content
  align-items center
  margin-top gutter(xl)

.imageWrapper
  border-radius 50%
  padding gutter(s)
  border 1px solid _gray

.image
  width 192px
  height 192px
  border-radius 50%

.title
  font-size font(xxl)
  font-weight _fontWeight
  color _darkGray

.text
  font-size font(l)
  text-align center
  line-height 25px
  color _darkGray
  font-weight _fontWeight
  margin-bottom gutter(xl)
