_gray = #dddddd

.root
  align-items center

.content
  align-items center
  margin 4u 0

.imageWrapper
  border-radius 13u
  padding gutter(s)
  border 1px solid _gray

.image
  width 24u
  height 24u
  border-radius 12u
