.text
  font-weight 200
  color #636363
  line-height 3u

  &-white
    color #fff

  &-subtitle
    font-size 3u

    +from($tablet)
      font-size 4u

  &-title
    padding-top 2u
    font-size 5u

    +from($tablet)
      font-size 6u

  &-center
    text-align center

  &-bold
    font-weight 700
