_orange = #efa8b0
_violet = #a89cc8
_blue = #8cc9f0

.root
  width 10u
  height 2px
  overflow hidden
  flex-direction row
  margin-top 2u
  +desktop()
    margin-top 4u

.orange
  background _orange
  width 33.3%

.violet
  background _violet
  width 33.3%

.blue
  background _blue
  width 33.3%
