_orange = #efa8b0
_violet = #a89cc8
_blue = #8cc9f0

.root
  width 78px
  height 2px
  overflow hidden
  flex-direction row
  margin gutter(l)

.orange
  background _orange
  width 33.3%

.violet
  background _violet
  width 33.3%

.blue
  background _blue
  width 33.3%
