.root
  background #f7f7f7
  padding 2u 0
  flex-direction row
  justify-content center
  border-radius 2u 2u 0 0

.menuItem
  padding 1u 0
  margin-left 3u
  width 13u
  text-align center

  &-first
    margin-left 0
