.root
  background #f7f7f7
  padding 2u
  flex-direction row
  justify-content center
  border-radius 2u 2u 0 0

.menuItem
  padding 1u 2u
  margin 0 1.5u

  &-selected
    background #ffffff
    border-radius 1u
